<!DOCTYPE html>

<html class="no-touch" lang="en">
<head>

    <script async="" src=
    "http://srx.main.ebayrtm.com/rtm?RtmIt&amp;p=185:234:964:569:701:566:274:982:391:984:985:278:876:912:433:1650:1651&amp;ite=2&amp;to=3000"></script>
    <script async="" src=
    "http://srx.main.ebayrtm.com/rtm?RtmIt&amp;p=185:234:964:569:701:566:274:982:391:984:985:278:876:912:433:1650:1651&amp;ite=2&amp;to=3000"></script>
    <link href="//i.ebayimg.com" rel="dns-prefetch">
    <link href="//thumbs.ebaystatic.com" rel="dns-prefetch">
    <link href="//thumbs1.ebaystatic.com" rel="dns-prefetch">
    <link href="//thumbs2.ebaystatic.com" rel="dns-prefetch">
    <link href="//thumbs3.ebaystatic.com" rel="dns-prefetch">
    <link href="//thumbs4.ebaystatic.com" rel="dns-prefetch">
    <link href="//vi.vipr.ebaydesc.com" rel="dns-prefetch">
    <link href="//p.ebaystatic.com" rel="dns-prefetch">
    <link href="//q.ebaystatic.com" rel="dns-prefetch">
    <link href="//pics.ebaystatic.com" rel="dns-prefetch">
    <link href="//ir.ebaystatic.com" rel="dns-prefetch">
    <link href="//tags.bluekai.com" rel="dns-prefetch">
    <link href="//srx.main.ebayrtm.com" rel="dns-prefetch">
    <link href="//rover.ebay.com" rel="dns-prefetch">
    <link href="//reco.ebay.com" rel="dns-prefetch">
    <link href="//ads.ebay.com" rel="dns-prefetch">
    <link href="//svcs.ebay.com" rel="dns-prefetch">
    <script>
var oPageSiteSpeedInfo = {iST:(new Date()).getTime()};
    </script>
    <script type="text/javascript">
var ABOVEFOLD = {imagesCount : 0, completedAt : null, load : function(source){this.completedAt = new Date().getTime();this.imagesCount++;},time : function(){return this.completedAt;}}; 
    </script>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="CB0919578198D18709307978949E1B72" name="msvalidate.01">
    <meta content="6643aad5513535b7" name="yandex-verification">
    <meta content="8kHr3jd3Z43q1ovwo0KVgo_NZKIEMjthBxti8m8fYTg" name=
    "google-site-verification">

    <title><%=searchName%></title>
    <link href="http://m.ebay.com/sch/i.html?_nkw=laptop" media=
    "only screen and (max-width: 640px)" rel="alternate">
    <meta content="acf32e2a69cbc2b0" name="y_key">
    <meta content=
    "Find great deals on eBay for laptop tablet. Shop with confidence." name=
    "description">
    <link href="http://www.ebay.com/sch/i.html?_nkw=laptop" rel="canonical">
    <meta content=
    "tablet, apple laptop, hp laptop, laptop computer, dell laptop, macbook, laptop"
    name="keywords">
    <meta content="102628213125203">
    <meta content="noindex" name="googlebot">
    <meta content=
    "v=1&amp;src=smartmeta&amp;sid=EBAY-US&amp;cid=177&amp;kw=laptop" name=
    "msApplication-Arguments">
    <meta content="1.5.2.0" name="msApplication-MinVersion">
    <meta content="eBayInc.eBay_1618n3s9xq8tw" name=
    "msApplication-PackageFamilyName">
    <meta content="App" name="msApplication-ID"><!--[if IE]><link/><![endif]-->
    <link href="http://ir.ebaystatic.com/rs/v/bqpyj4u0zu5p3ayjr5we1snhqix.css"
    rel="stylesheet" slotid="gh-css" type="text/css">
    <link href="http://ir.ebaystatic.com/rs/v/mt5zkzmufu5oxkjjrnlcr3kw5in.css"
    rel="stylesheet" slotid="common-css" type="text/css">
    <link href="http://ir.ebaystatic.com/rs/v/wbtb3drpea2opi2brapjs4jypey.css"
    rel="stylesheet" slotid="page-css" type="text/css">
    <style type="text/css">
#rtm_html_566, #rtm_html_567 {height:615px;}
    </style><noscript>&amp;lt;style&amp;gt;#gh-shop, #gh-f { display: block; }
    #gh-cat-box #gh-cat {display:block} &amp;lt;/style&amp;gt;</noscript>
    <style>
.IE_7 .dropdownmenu .sel{*zoom:1} .bqrfTxtCont a.rflbl { position:relative; } .hrmenu .frmt span.sel{padding-bottom:6px!important;border-bottom:1px solid #ddd!important}.hr-fxd .hrfs.app .smwpr,.hr-fxd .pmenu.ic.mact .smwpr,.hr-fxd .pmenu.il.mact .smwpr,.hr-fxd .pmenu.pr.mact .smwpr{border-bottom:1px solid #ddd!important}.menuWpr .pmenu.ic.mact a.mancbl,.menuWpr .pmenu.il.mact a.mancbl,.menuWpr .pmenu.pr.mact a,.pmenu.hrfs.app .smwpr .mancbl{padding-bottom:12px!important}.pmenu.hrfs.app .smwpr .manc b{line-height:14px!important}  @media only screen and (max-width: 1200px){.hrmenu.hr-fxd .srtsel{display:block; max-width:100px !important;} } @media only screen and (max-width: 940px){.hrmenu.hr-fxd .srtsel{max-width:72px !important;}}
    </style>
    <link href="http://ir.ebaystatic.com/rs/v/42veamnesayuphbpaxw0kevnzml" rel=
    "stylesheet" type="text/css">
    <link href="http://ir.ebaystatic.com/rs/v/42veamnesayuphbpaxw0kevnzml" rel=
    "stylesheet" type="text/css">
</head>

<body class="sz1200 full-width LV FIREFOX FIREFOX_33 FIREFOX_33_0">
    <div class="ttLyr">
        <div id="ttContent"></div><a class="ttClz wnd-c" href="javascript:;"
        style="display:none"></a>

        <div class="sArr BOTTOM" id="ttArr" style="font-weight: bold"></div>
    </div>

    <div class="wnd">
        <div class="wnd-s"></div>

        <div class="wnd-f">
            <div class="wnd-a"></div>

            <div class="wnd-h">
                <div class="wnd-t"></div><a class="wnd-c" tabindex="0"></a>
            </div>

            <div class="wnd-b"></div>
        </div>
    </div>

    <div id="gh-gb" tabindex="-1"></div>

    <div class="wnd">
        <div class="wnd-s"></div>

        <div class="wnd-f">
            <div class="wnd-h">
                <div class="wnd-t"></div><a class="wnd-c" tabindex="0"></a>
            </div>

            <div class="wnd-b"></div>
        </div>
    </div>

    <div class="ttLyr">
        <div id="ttContent"></div><a class="ttClz wnd-c" href="javascript:;"
        style="display:none"></a>

        <div class="sArr BOTTOM" id="ttArr" style="font-weight: bold"></div>
    </div>

    <div class="wnd" style=
    "position: absolute; top: -17px; left: 20px; visibility: visible;">
        <div class="wnd-s"></div>

        <div class="wnd-f">
            <div class="wnd-h">
                <div class="wnd-t"></div>
            </div>
        </div>
    </div><noscript class="nojs">&amp;lt;div
    class="nojs-msk"&amp;gt;&amp;lt;/div&amp;gt; &amp;lt;div class="nojs-msg
    shdw"&amp;gt; &amp;lt;h3 class="header"&amp;gt;Please enable JavaScript
    &amp;lt;/h3&amp;gt; &amp;lt;p&amp;gt;Our new search experience requires
    JavaScript to be enabled. Please &amp;lt;a
    href="http://enable-javascript.com/" target="_blank"&amp;gt;enable
    JavaScript on your browser&amp;lt;/a&amp;gt;, then &amp;lt;a
    href="http://www.ebay.com/sch/i.html?_odkw=laptop&amp;amp;amp;_from=R40&amp;amp;amp;_osacat=0&amp;amp;amp;_from=R40&amp;amp;amp;_trksid=m570.l1313&amp;amp;amp;_nkw=laptop&amp;amp;amp;_sacat=0"&amp;gt;try
    again&amp;lt;/a&amp;gt;.&amp;lt;/p&amp;gt; &amp;lt;p&amp;gt;To use our
    basic experience which does not require JavaScript, &amp;lt;a
    href="http://www.ebay.com/sch/i.html?_odkw=laptop&amp;amp;amp;_from=R40&amp;amp;amp;_osacat=0&amp;amp;amp;_from=R40&amp;amp;amp;_trksid=m570.l1313&amp;amp;amp;_nkw=laptop&amp;amp;amp;_sacat=0&amp;amp;_jsoff=1"&amp;gt;click
    here&amp;lt;/a&amp;gt;.&amp;lt;/p&amp;gt; &amp;lt;/div&amp;gt;</noscript>

    <div id="Head"></div>

    <div id="Body">
        <div id="Top">
            <div id="TopPanel">
                <div id="TopPanelDF">
                    

                    <div class="gh-acc-exp-div">
                        <a class="gh-acc-a" href="#mainContent" id=
                        "gh-hdn-stm">Skip to main content</a>
                    </div>
                    <!--[if lt IE 9]><div id="gh" class="gh-IE8 gh-flex gh-w no-touch "><![endif]--><!--[if (gte IE 9)|!(IE)]><!-->

                    <div class="gh-w no-touch gh-flex" id="gh">
                        <!--<![endif]-->

                        <table class="gh-tbl">
                            <tbody>
                                <tr>
                                    <td class="gh-td">
                                        <!--[if lt IE 9]><a href="/home" class="iclg" _sp="m570.l2586" id="gh-la">eBay<img width="117" height="120" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="http://ir.ebaystatic.com/rs/v/apstidvcvu5pxlbxkphrrdo5iqv.png" id="gh-logo"></a><![endif]--><!--[if (gte IE 9)|!(IE)]><!--><a class="iclg"
                                        href="/home" id=
                                        "gh-la">eBay<img alt="" height="200"
                                        id="gh-logo" src=
                                        "http://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png"
                                        style=
                                        "clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0"
                                        width="250"></a><!--<![endif]-->
                                    </td>

                                    <td class="gh-td-s">
                                        <form  method="get">
                                        

                                            <table class="gh-tbl2">
                                                <tbody>
                                                    <tr>
                                                        <td class="gh-td-s">
                                                            <div id=
                                                            "gh-ac-box">
                                                                <div id=
                                                                "gh-ac-box2">
                                                                    <label class="gh-hdn g-hdn"
                                                                    for=
                                                                    "gh-ac">Enter
                                                                    your search
                                                                    keyword</label><input autocomplete="off"
                                                                    class=
                                                                    "gh-tb ui-autocomplete-input"
                                                                    id="gh-ac"
                                                                    maxlength=
                                                                    "300" name=
                                                                    "_nkw"
                                                                    placeholder="Search..."
                                                                    size="50"
                                                                    spellcheck=
                                                                    "false"
                                                                    type="text" required
                                                                    
                                                                    ><span class="ui-helper-hidden-accessible"></span>
                                                                </div>
                                                            </div>

                                                            <div id="gAC">
                                                                <ul class=
                                                                "ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all"
                                                                id="ui-id-1"
                                                                style=
                                                                "display: none; width: 731px;"
                                                                tabindex="-1">
                                                                </ul>
                                                            </div>
                                                        </td>

                                                        <td class="gh-td">
                                                        <input class=
                                                        "btn btn-prim gh-spr"
                                                        id="gh-btn" type=
                                                        "submit" value=
                                                        "Search" formaction="/searchProducts"></td>

                                                        <td class="gh-td" id=
                                                        "gh-as-td">
                                                            <div id="gh-as">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="idesc"></div>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div id="gh-top">
                            <ul id="gh-topl">
                                <li class="gh-t gh-spr" id="gh-eb-u">
<a class="gh-ua gh-control" href="/getUserDetails/<%=sess.uid%>" id="gh-ug">Hi
<b><%=sess.fname%>&nbsp;<%=sess.lname%></b>!<b class=
"gh-eb-arw gh-sprRetina"></b></a>
</li>
                                
                                <li class="gh-t gh-spr" id="gh-p-3">
<a class="gh-p" href=
"/history">Your History</a>
</li>
<li class="gh-t gh-spr" id="gh-p-2">
<a class="gh-p" href=
"/selectCategory">Sell your product</a>
</li>      
                            </ul>

                            <ul id="gh-eb">
                              
                              <li class="gh-eb-li rt" id="gh-cart">
<p><a href="/mycart"><b>My Cart<b></a></p>
</li>
<li class="gh-eb-li rt" id="gh-cart">
<p>Last Login: <b><%=sess.lastlogin%></b></p>
</li>
<li class="gh-eb-li rt" id="gh-cart">
<a class="gh-eb-li-a" href=
"/signout" title=
"Sign Out"><b>Signout</b></a>
</li>

                                <li class=
                                "gh-eb-li gh-layer rt gh-eb-Alerts-tab-0" id=
                                "gh-eb-Alerts">
                                    <div class="gh-menu">
                                        <div class="gh-sublayer"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!--ts:2014.11.19.11:42--><!--rq:-->
                    <!--rvr:59rc5--><script></script>
                </div>

                <div id="RelatedSearchesDF">
                    
                </div>

          
            </div>
        </div>
        </div>

        <div id="LeftCenterBottomPanelDF">
            	

            <div id="RightPanelContainer">
                <div id="Right"></div>
            </div>

            <div id="CenterWrapper">
                <div class="rr_present" id="Center">
                    <div class="full-width left c-std" id="CenterPanel">
                        <div id="CenterPanelInner">
                            <div class="cbrt" id="cbrt">
                                <div class="cb clearfix" id="cbelm">
                                    

                                    <div class="asp pnl left">
                                        <div class="pnl-h frmt_head">
                                            

                                           
                                        </div>

                                        <div class="pnl-b frmt">
                                            
                                        </div>
                                    </div>

                                    <div class="right">
                                        <div class="cbl"></div>

                                        <div class="cbl dropdownmenu" id=
                                        "DashSortByContainer">
                                            <ul class="sel">
                                                <li class="dropdown small">
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="cbl dropdownmenu sbdd">
                                            <ul class="sel">
                                                <li class="dropdown"></li>
                                            </ul>

                                            <ul class=
                                            "lyr txtRt dropdown-menu dropdown-menu-sm vas menu3"
                                            data-pos="1" id="ViewTypeMenu"
                                            style=
                                            "visibility: hidden; left: -42px; top: 31px;">
                                            <li>
                                                    <a href=
                                                    "http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;_sacat=0&amp;_nkw=laptop&amp;rt=nc&amp;_dmd=2"
                                                    tabindex="-1"><span>Gallery
                                                    view</span> <b class=
                                                    "vGRID"></b></a>
                                                </li>

                                                <li style="*display:none">
                                                    <a href="javascript:;" id=
                                                    "custLink" tabindex=
                                                    "-1"><span>Customize...</span>
                                                    <b class="vCUST"></b></a>
                                                </li>

                                                <li style=
                                                "list-style: none; display: inline">
                                                <div class="cvr"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="brcnt" id="brcnt">
                                <div class="bciw" id="bciw">
                                    <div class="bclt">
                                        <div class="brcrCatAsp"></div>

                                        <h1 class="bcrs" title="laptop">
                                       	Search results for : 
                                        <span class="cptname" style=
                                        "font-weight: bold">"<i><%=searchName%>"</i></span></h1>

                                        <div id="followMessage" style=
                                        "display:none">
                                            <p class="dContent"><span>Follow
                                            <strong>laptop</strong> to get
                                            e-mail alerts and updates on your
                                            eBay Feed.</span></p>
                                        </div>

                                        <div id="unfollowMessage" style=
                                        "display:none">
                                            <p class="dContent"><span>Unfollow
                                            <strong>laptop</strong> to stop
                                            getting updates on your eBay
                                            Feed.</span></p>
                                        </div>

                                        <div id="followingMessage" style=
                                        "display:none">
                                            <p class="dContent">Yay! You're now
                                            following <strong>laptop</strong>
                                            in your <a href=
                                            "http://www.ebay.com">eBay
                                            Feed</a>.<span id=
                                            "email_msg"><span>You will receive
                                            email alerts for new
                                            listings.</span><br>
                                            <br>
                                            <a id="fs_email">Dont send me
                                            e-mail alerts.</a></span></p>
                                        </div><span class="saveSearch"><a href=
                                        "#save" id="e1-124" onclick=
                                        "return false;"></a></span>

                                        <form>
                                            <span class=
                                            "saveSearch"><input name=
                                            "following" type="hidden" value=
                                            "false"><input name="searchid"
                                            type="hidden" value=""></span>
                                        </form>

                                        <div id="shiptoZip"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="" id="Results">
                                <div class="rst" id="rsTabs">
                                    <div class="t225">
                                        <div class="clear" id=
                                        "SISPivotItemContainer"></div>

                                        <div id="MessageContainer"></div>

                                        <div id="VEPMContainer"></div>
                                        <% for(var i=0;i<results.length;i++)
                                                       {%>

                                        <div class="rs rsw" id="e1-125">
                                            <a id="mainContent" tabindex=
                                            "-1"></a>

                                            <div class="clearfix" id=
                                            "ResultSetItems">
                                                <h2 class="hdnAcc">Items in
                                                search results</h2>

                                                <ul id="ListViewInner">
                                                    <li class=
                                                    "sresult lvresult clearfix li shic"
                                                    id="item43cfae67a5">
                                                        <div class=
                                                        "lvpic pic p225 img left">
                                                        <div class=
                                                        "lvpicinner full-width picW s225">
                                                            <a class=
                                                            "img imgWr2"
                                                                href="#">
                                                                <img alt="<%=results[i].name%>"
                                                                class="img"
                                                                src="<%=results[i].image%>"></a>
                                                            </div>
                                                        </div>

                                                        <h3 class="lvtitle">
                                                        <a class="vip" href="/getProductDetailsBid/<%=results[i].catName%>/<%=results[i].id%>"
                                                        title=
                                                        "Click this link to access <%=results[i].name%>">
                                                       
                                                       
                                                        <strong><%=results[i].name %>
                                                       
                                                       </strong></a> </h3> 
                                                       <%if(results[i].isForAuction===1)
                                                       {%>
                                                       <b>Is Available For Auction</b>
                                                       <%}%>
                                                       <%if(results[i].isForAuction===0)
                                                       {%>
                                                       <b>Is Available For Purchase</b>
                                                       <%}%>
                                                        
                                                        <div class=
                                                        "lvsubtitle">
                                                            <%=results[i].details%>
                                                            
                                                            
                                                        </div>
                                                                                                                 <ul class=
                                                        "lvprices left space-zero">
                                                        <li class=
                                                        "lvprice prc">
                                                                <span class=
                                                                "g-b">$&nbsp;<%=results[i].cost%></span>

                                                                
                                                            </li>
                                                            

                                                           

                                                            

                                                            
                                                        </ul>

                                                        <ul class=
                                                        "lvdetails left space-zero full-width">
                                                        <li>
                                                                <div class=
                                                                "FnF">
                                                                    
                                                                    <span class="fnftxt">
                                                                    <span class="FnFl">
                                                                     Condition:<%=results[i].condition%>
                                                                    </span></span>

                                                                    <div>
                                                                        Available Quantity:
                                                                        
                                                                        
                                                                        <b><%=results[i].quantity%>
                                                                        
                                                                        </b>
                                                                    </div>
                                                                </div>
                                                            </li>

                                                            

                                                           
                                                        </ul>
                                                    </li>

                                                    

                                                    <li style=
                                                    "list-style: none; display: inline">
                                                    
                                                    </li>
                                                </ul>

                                                
                                            </div>
                                        </div>

                                        <%}%>
                                    </div>
                                </div>
                                

                                <div class="medianprcText g-hdn">
                                    This is the median price based on sales of
                                    this product in the same condition from all
                                    listings on <a href=
                                    "http://www.ebay.com/">ebay.com</a> in the
                                    past 14 days, or if there are any
                                    insufficient number of listings for a
                                    meaningful calculation, the past 90 days.
                                </div>

                                <div class="etrs2 g-hdn">
                                    <b style="color:#333333">Top Rated
                                    Plus</b><br>

                                    <ul style="color:#666666;margin: 3px 0;">
                                        <li>Sellers with highest buyer
                                        ratings</li>

                                        <li>Returns, money back</li>

                                        <li>Ships in a business day with
                                        tracking</li>
                                    </ul><a href=
                                    "http://pages.ebay.com/trp/index.html">Learn
                                    More</a>
                                </div>

                                <div class="etrs3 g-hdn">
                                    <b style="color:#333333">Top Rated
                                    Plus</b><br>

                                    <ul style="color:#666666;margin: 3px 0;">
                                        <li>Sellers with highest buyer
                                        ratings</li>

                                        <li>Returns, money back</li>

                                        <li>Ships in a business day with
                                        tracking</li>
                                    </ul><a href=
                                    "http://pages.ebay.com/trp/index.html">Learn
                                    More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="rtm_html_391"></div>

                    <div id="rtm_html_984"></div>

                    <div id="rtm_html_985"></div>

                    <div id="rtm_html_278"></div>
                </div>
            </div>
        </div>
    

    <div id="Foot">
        <div id="VRFooterDF">
           
        </div>
    </div>

    <div id="HtmlFrags"></div>

    <div id="JSDF">
        <script>
var pCon = {isDash:true,isVR:true,browser:{type:'FIREFOX',majorVersion:33,minorVersion:0},treatments:[27858,18389,28101,27762,26807,17547,24012,22653,27813,27964,27758,27176,22170],poolType:'production',showJSErrors:false};
        </script>

        <div id="showDiagContainer"></div><script src=
        "http://ir.ebaystatic.com/rs/v/nfzqf4beaqyxphvwcpwdfl24fex.js" type=
        "text/javascript"></script><script src=
"http://ir.ebaystatic.com/rs/v/d1tasfvi5q00pej2rwirzhmgwun.js" type=
"text/javascript"></script><!-- Start of bottom middle slot  -->
         <script>
if(raptor.exists('panels/left/aspects/AspectPanel')){raptor.require('panels.left.aspects.AspectPanel').prototype.container=$("div#LeftNavContainer");} var seemoreinhr=$("a.blue.more");if(seemoreinhr.length&amp;gt;0){$(seemoreinhr).click(function(){var e=$(this).data("asp");$("#LeftNavContainer #"+e).next(".seeall").click()})}
        </script><script type="text/javascript">
(function(){
        raptor.require('raptor.rtm.RtmManager').manage({"fallbackBaseURL":"http://pages.ebay.com/rtm_default","isSignedIn":false,"jsDependencyURLs":["http://ir.ebaystatic.com/rs/v/tarpzfvfxy10zd4jus2c2zpbgmw.js","http://ir.ebaystatic.com/rs/v/fsbxarznh20tbn2leifaaozqwes.js","http://ir.ebaystatic.com/rs/v/m3hcurymk2y51c2wlhgzc5dcbin.js","http://ir.ebaystatic.com/rs/v/2fppx5bgr23ydlgijyyiledyxmi.js","http://ir.ebaystatic.com/rs/v/kgu2phvm12zxhfbjzoz2s2eecef.js"],"nonBlockingSRX":true,"pageId":2045573,"userId":null,"baseURL":"http://srx.main.ebayrtm.com/rtm?RtmCmd&amp;amp;a=json&amp;amp;g=f0d577491470a5f165b6d0f6fec35f14&amp;amp;uf=1&amp;amp;c=1H4sIAAAAAAAAAFVRy2rDMBC85ysEvRUStHrYcUCXpNCWtoGSlF4KRbaXRNSxhKPUpF9fKTJpfdLM7Ay7q715x5qs7TeBgkC%2BELAAIPcv2ynNF5QSRkFMHBRSrWyHEQkl51TOI%2BQKJo5ToWh4uIyMSR4Z5LlqtPPWRZwpEFRSnkUih3xlagXs40QpjTlaxBzjQk0jzUQo0qhkTC073dbJeYdNk9Cm6hBbsjE%2FmASQU5Czgpi22uMxaduzG6pr67G09iux54fPR4%2BHlW1r441tBw%2F213k4qL7vZ1jq86yyhzD5PFdelw365NHONUjSkknZuxFNmISwO3nskliH%2BUeug67%2BxopdMuXtcW9KPbaZ1owE4%2FTwJTsdirtRUVfYjYQW%2Ff8ugjN1aXY5Hcy5YlRImfNwx7Cme8PX5ZO4Dd8gLkYm4HpOBjSEfgGcDb%2FmNwIAAA%3D%3D&amp;amp;ord=1416444071727","csrfToken":"7c7e2b0efb7cf31a0c1ca07f8e5d7d3eddc6479ea8591ed34567c2eb7ef279db","followSvcUrl":"http://mbe.vip.ebay.com/merbak/v0/feed/users/{user}/follows","ver":5,"jsonpSvcUrl":"http://svcs.ebay.com/proxy/","placementsInfo":[[185,2,0,0,""],[234,2,0,0,""],[964,2,0,0,""],[569,2,0,0,""],[701,2,0,0,""],[566,1,0,0,""],[274,0,0,0,""],[982,2,0,0,""],[391,2,0,0,""],[984,2,0,0,""],[985,2,0,0,""],[278,2,0,0,""]]});

            $(document).trigger("RTM_REGISTER_PLACEMENTS",{'placementsInfo':[[876,0,0,0],[912,0,0,0],[433,0,0,0],[1650,3,0,0],[1651,3,0,0]]});

            $(document).trigger("RTM_INIT",{'init':0});
        })();
        </script><script type="text/javascript">
(function(){
        (function() {
        var Context = raptor.require('ebay.context.Context');
        Context.call(Context,{"site":0,"errors":{"enabled":false},"app":"raptor","domain":".ebay.com","pool":"production","cobrand":2,"locale":"en_US_MAIN","features":{},"pid":2045573});
        })();

        (function() {
        var Context = raptor.require('ebay.context.Context');
        Context.call(Context,{"site":0,"errors":{"enabled":false},"app":"raptor","domain":".ebay.com","cobrand":2,"pool":"production","locale":"en_US_MAIN","features":{},"pid":2045573});
        })();
        new (raptor.require('raptor.tracking.core.Tracker'))({"psi":"ApUeQBK4*","rover":{"imp":"/roverimp/0/0/9","clk":"/roverclk/0/0/9","uri":"http://rover.ebay.com"},"pid":"p2045573"});raptor.require('raptor.tracking.idmap.IdMap').roverService("http://rover.ebay.com/idmap/0?footer"); GH_spacerImg = "http://ir.ebaystatic.com/pictures/aw/pics/s.gif"; if(typeof GHJSLoaded === "undefined"){ !function(){ var imgObj,roverURL="http://rover.ebay.com"; if(document.location.protocol=="https:"){ roverURL = roverURL.replace(/^http/, "https"); } if(document.body != null){ imgObj = document.createElement("img"); imgObj.src = roverURL + "/roverimp/0/0/9?imp=2046301&amp;amp;trknvp=ghi%3D91" + "%26gh1g%3D" + encodeURIComponent(document.location.href) + "%26gh2g%3D " + encodeURIComponent(navigator.userAgent) + "&amp;amp;" + (new Date()).getTime(); document.body.appendChild(imgObj); } }(); } if (typeof GH != "undefined" &amp;amp;&amp;amp; GH) { GH.urls = { autocomplete_js:"http://ir.ebaystatic.com/f/gx1od3zdei121fkdjg2mqzahqyl.js", ac_rtm:"http://srx.main.ebayrtm.com/rtm?RtmCmd&amp;amp;a=json&amp;amp;uf=0&amp;amp;e=USC:2&amp;amp;z=11&amp;amp;enc=UTF-8&amp;amp;v=5&amp;amp;rnc=1&amp;amp;_vrdm=1358451349580&amp;amp;p=19320&amp;amp;cb=GH_ac_rtm", mFtrLnk:"http://ir.ebaystatic.com/f/logwisyb5e5yddn4zmlg5mnhbab.js", qanewalerts_endpoint:0 }; GH.GHSW = { recogoff:0, jsdebug:0, raptor:"true", catService:0, sandbox:0, emp:0, no_akamai_autocomplt:"true", ac1:0, ac2:0, ac3:0, ac4:0, AUTOCOMPLETE_HELP:0, nodoodleon980:0, rtmftr:0, actVer:0, actDebug:0, alerts:0, alertsOff:0, hideMobile:0, survey:0, telDE:0, langSwitch:0, pool:0, SHOW_MYCOLL:"true" }; } if (typeof GH != "undefined" &amp;amp;&amp;amp; GH) {GH_config = {"siteId":"0","geoLang":"[]",sin:0,pageId:2045573,ct:0};GH.init();}
        var C = raptor.require("search.leftnav.Categories");
        new C().initCategories({elem:'e1-1',moreText:"More",fewerText:"Fewer", leftyOn:'false', trackingId:'p2045573.m1685.l4121', seeMore:'see more', seeLess:'see less', mcatTrackingId:'p2045573.m1685.l4403', showAdditionalCats: 'Show more categories', hideAdditionalCats: 'Show fewer categories'});

        var c = {"title":null,"grouping":",","children":[{"selectedAspectCount":0,"count":0,"param":null,"suppressDistanceModel":false,"showCount":true,"display":"TEXT","itemLocationRedesignEnabled":true,"paramValue":null,"type":"DefaultAspectModel","eid":"e1-54","clear":null,"title":"Brand","selected":false,"values":[{"selected":false,"title":"ASUS","count":11719,"param":"ASUS","hrRefTitle":null,"eid":"e1-55","countString":"11,719","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;Brand=ASUS","disabled":false},{"selected":false,"title":"Dell","count":51027,"param":"Dell","hrRefTitle":null,"eid":"e1-57","countString":"51,027","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;Brand=Dell","disabled":false},{"selected":false,"title":"HP","count":40589,"param":"HP","hrRefTitle":null,"eid":"e1-59","countString":"40,589","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;Brand=HP","disabled":false},{"selected":false,"title":"Lenovo","count":14129,"param":"Lenovo","hrRefTitle":null,"eid":"e1-61","countString":"14,129","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;Brand=Lenovo","disabled":false}],"excluded":[],"hidden":false,"hideInChooseMore":false,"name":"Brand","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_ssan=Brand&amp;amp;_dcat=177&amp;amp;rt=nc&amp;amp;_pppn=r1","closed":false,"included":[],"paramName":"Brand","countString":"0","disabled":false},{"selectedAspectCount":0,"count":0,"param":null,"suppressDistanceModel":false,"showCount":true,"display":"TEXT","itemLocationRedesignEnabled":true,"paramValue":null,"type":"DefaultAspectModel","eid":"e1-63","clear":null,"title":"Screen Size","selected":false,"values":[{"selected":false,"title":"17 inches or more","count":4544,"param":"17%20inches%20or%20more","hrRefTitle":null,"eid":"e1-64","countString":"4,544","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;Screen%2520Size=17%2520inches%2520or%2520more&amp;amp;rt=nc","disabled":false},{"selected":false,"title":"16-16.9 inches","count":272,"param":"16%2D16%2E9%20inches","hrRefTitle":null,"eid":"e1-66","countString":"272","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;Screen%2520Size=16%252D16%252E9%2520inches&amp;amp;rt=nc","disabled":false},{"selected":false,"title":"15-15.9 inches","count":16166,"param":"15%2D15%2E9%20inches","hrRefTitle":null,"eid":"e1-68","countString":"16,166","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;Screen%2520Size=15%252D15%252E9%2520inches&amp;amp;rt=nc","disabled":false},{"selected":false,"title":"13-13.9 inches","count":3384,"param":"13%2D13%2E9%20inches","hrRefTitle":null,"eid":"e1-70","countString":"3,384","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;Screen%2520Size=13%252D13%252E9%2520inches&amp;amp;rt=nc","disabled":false},{"selected":false,"title":"12-12.9 inches","count":3570,"param":"12%2D12%2E9%20inches","hrRefTitle":null,"eid":"e1-72","countString":"3,570","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;Screen%2520Size=12%252D12%252E9%2520inches&amp;amp;rt=nc","disabled":false},{"selected":false,"title":"Less than 12 inches","count":4927,"param":"Less%20than%2012%20inches","hrRefTitle":null,"eid":"e1-74","countString":"4,927","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;Screen%2520Size=Less%2520than%252012%2520inches&amp;amp;rt=nc","disabled":false}],"excluded":[],"hidden":false,"hideInChooseMore":false,"name":"Screen%20Size","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_ssan=Screen Size&amp;amp;_dcat=177&amp;amp;rt=nc&amp;amp;_pppn=r1","closed":false,"included":[],"paramName":"Screen%20Size","countString":"0","disabled":false},{"selectedAspectCount":0,"count":0,"param":null,"suppressDistanceModel":false,"showCount":true,"display":"TEXT","itemLocationRedesignEnabled":true,"paramValue":null,"type":"DefaultAspectModel","eid":"e1-76","clear":null,"title":"Type","selected":false,"values":[{"selected":false,"title":"Notebook","count":39932,"param":"Notebook","hrRefTitle":null,"eid":"e1-77","countString":"39,932","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;Type=Notebook&amp;amp;rt=nc","disabled":false},{"selected":false,"title":"Netbook","count":2118,"param":"Netbook","hrRefTitle":null,"eid":"e1-79","countString":"2,118","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;Type=Netbook&amp;amp;rt=nc","disabled":false},{"selected":false,"title":"Tablet/Laptop Convertible","count":2931,"param":"Tablet%2FLaptop%20Convertible","hrRefTitle":null,"eid":"e1-81","countString":"2,931","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;Type=Tablet%252FLaptop%2520Convertible&amp;amp;rt=nc","disabled":false}],"excluded":[],"hidden":false,"hideInChooseMore":false,"name":"Type","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_ssan=Type&amp;amp;_dcat=177&amp;amp;rt=nc&amp;amp;_pppn=r1","closed":false,"included":[],"paramName":"Type","countString":"0","disabled":false},{"selectedAspectCount":0,"count":0,"param":null,"suppressDistanceModel":false,"showCount":true,"display":"TEXT","itemLocationRedesignEnabled":true,"paramValue":null,"type":"ItemConditionAspectModel","eid":"e1-83","info":null,"clear":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop","title":"Condition","selected":false,"values":[{"selected":false,"title":"New","count":1206225,"param":"3","discription":"LH_SiteWideCondition_New","hrRefTitle":null,"eid":"e1-84","countString":"1,206,225","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;rt=nc&amp;amp;LH_ItemCondition=3","disabled":false},{"selected":false,"title":"Used","count":193484,"param":"4","discription":"LH_SiteWideCondition_Used","hrRefTitle":null,"eid":"e1-86","countString":"193,484","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;rt=nc&amp;amp;LH_ItemCondition=4","disabled":false},{"selected":false,"title":"Not Specified","count":5317,"param":"10","discription":"LH_SiteWideCondition_NS","hrRefTitle":null,"eid":"e1-88","countString":"5,317","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;rt=nc&amp;amp;LH_ItemCondition=10","disabled":false}],"hidden":false,"hideInChooseMore":false,"name":"LH_ItemCondition","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;_pppn=r1&amp;amp;_dcat=177&amp;amp;_ssan=LH_ItemCondition","closed":false,"paramName":"LH_ItemCondition","countString":"0","disabled":false},{"selectedAspectCount":29486,"count":0,"param":null,"children":[{"lowerBound":"","count":0,"param":null,"showCount":false,"itemLocationRedesignEnabled":true,"type":"PriceAspectModelDash","priceLabelKey":"PRICE","defaultParam":"LH_Price","clear":null,"baseUrl":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_mPrRngCbx=1","shipping":{"selected":false,"param":"_ssc","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;_ssc=1"},"selected":false,"title":"Price","grouping":",","minimumLimit":"0","name":"LH_Price","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;_ssan=LH_Price","closed":false,"upperBound":"","lowerBoundParam":"_udlo","selectedAspectCount":0,"symbol":"$","Maximum":"&amp;lt;label class='g-hdn' for='e1-46'&amp;gt;Enter maximum price&amp;lt;/label&amp;gt;&amp;lt;input class='price' pattern='\\d*' type='text' size='6' maxlength='13' name='_udhi' id='e1-46' value=\"\"  /&amp;gt;","MinimumPrice":"&amp;lt;label class='g-hdn' for='e1-47'&amp;gt;Enter minimum price&amp;lt;/label&amp;gt;&amp;lt;input class='pricehr' pattern='\\d*' type='text' size='6' maxlength='13' name='_udlo' id='e1-47' value=\"\"  /&amp;gt;","maximumLimit":"0","suppressDistanceModel":false,"display":"RANGE","paramValue":null,"lowPrice":null,"decimal":".","upperBoundParam":"_udhi","PriceRange":"&amp;lt;div class=\"prRngWpr\" &amp;gt;&amp;lt;div class=\"cbx\" &amp;gt;&amp;lt;a class=\"cbx prRng\" _sp=\"p2045573.m1684.l5985\" href=\"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_udhi=100\"  udhi=\"10000\" &amp;gt;&amp;lt;input id=\"e1-50\" tabindex=\"-1\" type=\"checkbox\" class=\"cbx\"&amp;gt;&amp;lt;label for=\"e1-50\"&amp;gt;&amp;lt;span class=\"cbx\"&amp;gt;&amp;amp;nbsp;Under $100&amp;lt;/span&amp;gt;&amp;lt;/label&amp;gt;&amp;lt;/a&amp;gt;&amp;lt;/div&amp;gt;&amp;lt;div class=\"cbx\" &amp;gt;&amp;lt;a class=\"cbx prRng\"  _sp=\"p2045573.m1684.l5986\" href=\"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_udlo=100&amp;amp;_udhi=210\"  udlo=\"10000\" udhi=\"21000\" &amp;gt;&amp;lt;input id=\"e1-51\" tabindex=\"-1\" type=\"checkbox\" class=\"cbx\"&amp;gt;&amp;lt;label for=\"e1-51\"&amp;gt;&amp;lt;span class=\"cbx\"&amp;gt;&amp;amp;nbsp;$100 - $210&amp;lt;/span&amp;gt;&amp;lt;/label&amp;gt;&amp;lt;/a&amp;gt;&amp;lt;/div&amp;gt;&amp;lt;div class=\"cbx\" &amp;gt;&amp;lt;a class=\"cbx prRng\" _sp=\"p2045573.m1684.l5987\" href=\"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_udlo=210\"  udlo=\"21000\" &amp;gt;&amp;lt;input id=\"e1-52\" tabindex=\"-1\" type=\"checkbox\" class=\"cbx\"&amp;gt;&amp;lt;label for=\"e1-52\"&amp;gt;&amp;lt;span class=\"cbx\"&amp;gt;&amp;amp;nbsp;Over $210&amp;lt;/span&amp;gt;&amp;lt;/label&amp;gt;&amp;lt;/a&amp;gt;&amp;lt;/div&amp;gt;&amp;lt;/div&amp;gt;","pattern":"Sn","Symbol":"$","hidden":false,"hideInChooseMore":false,"Minimum":"&amp;lt;label class='g-hdn' for='e1-45'&amp;gt;Enter minimum price&amp;lt;/label&amp;gt;&amp;lt;input class='price' pattern='\\d*' type='text' size='6' maxlength='13' name='_udlo' id='e1-45' value=\"\"  /&amp;gt;","MaximumPrice":"&amp;lt;label class='g-hdn' for='e1-48'&amp;gt;Enter maximum price&amp;lt;/label&amp;gt;&amp;lt;input class='pricehr' pattern='\\d*' type='text' size='6' maxlength='13' name='_udhi' id='e1-48' value=\"\"  /&amp;gt;&amp;lt;input id=\"e1-49\"  title=\"Submit price range\" class=\"hide-text sprBtnSRP1 submit\" type=\"button\" /&amp;gt;","highPrice":null,"countString":"0","paramName":null,"disabled":false},{"selectedAspectCount":0,"count":0,"param":"1","suppressDistanceModel":false,"showCount":false,"display":"TEXT","itemLocationRedesignEnabled":true,"paramValue":"1","type":"BooleanAspectModel","clear":null,"title":"Free shipping","selected":false,"values":[],"excluded":[],"hidden":true,"hideInChooseMore":false,"name":"LH_FS","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;LH_FS=1","closed":false,"included":[],"paramName":"LH_FS","countString":"0","disabled":false}],"suppressDistanceModel":false,"showCount":false,"display":"CUSTOM","itemLocationRedesignEnabled":true,"paramValue":null,"type":"PricePlusShippingAspectModel","clear":null,"title":"Price","selected":false,"hidden":true,"hideInChooseMore":false,"name":"LH_Price","action":null,"closed":false,"paramName":null,"countString":"0","disabled":false},{"selectedAspectCount":1,"count":0,"param":null,"children":[{"selectedAspectCount":0,"count":1405036,"param":null,"suppressDistanceModel":false,"showCount":true,"display":"RADIO_BUTTONS","itemLocationRedesignEnabled":true,"paramValue":null,"type":"BooleanAspectModel","eid":"e1-92","clear":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop","title":"All Listings","selected":true,"values":[],"excluded":[],"hidden":false,"hideInChooseMore":false,"name":"LH_AllListings","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop","closed":false,"included":[],"paramName":null,"countString":"1,405,036","disabled":false},{"selectedAspectCount":0,"count":39006,"param":"1","suppressDistanceModel":false,"showCount":true,"display":"RADIO_BUTTONS","itemLocationRedesignEnabled":true,"paramValue":"1","type":"BooleanAspectModel","eid":"e1-94","clear":null,"title":"Auction","selected":false,"values":[],"excluded":[],"hidden":false,"hideInChooseMore":false,"name":"LH_Auction","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;LH_Auction=1","closed":false,"included":[],"paramName":"LH_Auction","countString":"39,006","disabled":false},{"selectedAspectCount":0,"count":1377974,"param":"1","suppressDistanceModel":false,"showCount":true,"display":"TEXT","itemLocationRedesignEnabled":true,"paramValue":"1","type":"BooleanAspectModel","eid":"e1-96","clear":null,"title":"Buy It Now","selected":false,"values":[],"excluded":[],"hidden":false,"hideInChooseMore":false,"name":"LH_BIN","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;LH_BIN=1","closed":false,"included":[],"paramName":"LH_BIN","countString":"1,377,974","disabled":false}],"suppressDistanceModel":false,"showCount":false,"display":"RADIO_BUTTONS","itemLocationRedesignEnabled":true,"paramValue":null,"type":"GroupAspectModel","eid":"e1-91","clear":null,"title":"Format","selected":false,"hidden":false,"hideInChooseMore":false,"name":"LH_BuyingFormats","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;_pppn=r1&amp;amp;_ssan=LH_BuyingFormats","closed":false,"paramName":null,"countString":"0","disabled":false},{"selectedAspectCount":0,"count":0,"param":null,"suppressDistanceModel":false,"showCount":false,"display":"SLIDER","itemLocationRedesignEnabled":true,"paramValue":null,"type":"LocationAspectModelDash","eid":"e1-98","clear":null,"title":"Item Location","selected":false,"values":[{"selected":true,"title":"Default","count":0,"param":"98","hrRefTitle":"Default","eid":"e1-99","countString":"0","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;LH_PrefLoc=98","disabled":false},{"unit":"miles","selected":false,"title":"Within","count":0,"param":"99","zipcode":"95192","searchRadius":100,"hrRefTitle":"Within null mi","eid":"e1-101","countString":"0","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;_sadis=100&amp;amp;_fspt=1&amp;amp;_stpos=95192&amp;amp;LH_PrefLoc=99","disabled":false},{"selected":false,"title":"US Only","count":0,"param":"1","hrRefTitle":"US Only","eid":"e1-105","countString":"0","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;LH_PrefLoc=1","disabled":false},{"selected":false,"title":"North America","count":0,"param":"3","hrRefTitle":"North America","eid":"e1-107","countString":"0","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;LH_PrefLoc=3","disabled":false},{"selected":false,"title":"Worldwide","count":0,"param":"2","hrRefTitle":"Worldwide","eid":"e1-109","countString":"0","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;LH_PrefLoc=2","disabled":false},{"selected":false,"title":"Within 25 mi","count":0,"param":"100","zipcode":"95192","hrRefTitle":"Within 25 mi","countString":"0","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;_sadis=25&amp;amp;_fspt=1&amp;amp;_stpos=95192&amp;amp;LH_PrefLoc=99","disabled":false},{"selected":false,"title":"Within 50 mi","count":0,"param":"101","zipcode":"95192","hrRefTitle":"Within 50 mi","countString":"0","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;_sadis=50&amp;amp;_fspt=1&amp;amp;_stpos=95192&amp;amp;LH_PrefLoc=99","disabled":false},{"selected":false,"title":"Within 100 mi","count":0,"param":"102","zipcode":"95192","hrRefTitle":"Within 100 mi","countString":"0","url":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;_sadis=100&amp;amp;_fspt=1&amp;amp;_stpos=95192&amp;amp;LH_PrefLoc=99","disabled":false}],"hidden":false,"hideInChooseMore":false,"name":"LH_PrefLoc","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;_pppn=r1&amp;amp;_dcat=177&amp;amp;_ssan=LH_PrefLoc","closed":false,"paramName":null,"countString":"0","disabled":false},{"selectedAspectCount":0,"count":0,"param":null,"children":[],"suppressDistanceModel":false,"showCount":false,"display":"TEXT","itemLocationRedesignEnabled":true,"paramValue":null,"type":"SellerAspectModel","eid":"e1-111","showTRS":false,"clear":null,"followEnabled":true,"title":"Seller","selected":false,"hidden":true,"hideInChooseMore":false,"name":"LH_FromSellers","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;_pppn=r1&amp;amp;_dcat=177&amp;amp;_ssan=LH_FromSellers","closed":true,"paramName":"LH_FromSellers","countString":"0","disabled":false,"sellerTypeModel":null},{"selectedAspectCount":0,"count":0,"param":null,"children":[{"selectedAspectCount":0,"count":0,"param":"1","suppressDistanceModel":false,"showCount":false,"display":"CHECK_BOX","itemLocationRedesignEnabled":true,"paramValue":"1","type":"BooleanAspectModel","eid":"e1-113","clear":null,"title":"Free shipping","selected":false,"values":[],"excluded":[],"hidden":false,"hideInChooseMore":false,"name":"LH_FS","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;LH_FS=1","closed":false,"included":[],"paramName":"LH_FS","countString":"0","disabled":false},{"selectedAspectCount":0,"count":0,"param":"1","suppressDistanceModel":false,"showCount":false,"display":"CHECK_BOX","itemLocationRedesignEnabled":true,"paramValue":"1","type":"BooleanAspectModel","eid":"e1-115","clear":null,"title":"Free In-store pickup","selected":false,"values":[],"excluded":[],"hidden":false,"hideInChooseMore":false,"name":"LH_BOPIS","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;LH_BOPIS=1&amp;amp;rt=nc","closed":false,"included":[],"paramName":"LH_BOPIS","countString":"0","disabled":false}],"suppressDistanceModel":false,"showCount":false,"display":"TEXT","itemLocationRedesignEnabled":true,"paramValue":null,"type":"GroupAspectModel","eid":"e1-112","clear":null,"title":"Delivery Options","selected":false,"hidden":false,"hideInChooseMore":false,"name":"LH_DeliveryOptions","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;_pppn=r1&amp;amp;_ssan=LH_DeliveryOptions","closed":false,"paramName":null,"countString":"0","disabled":false},{"selectedAspectCount":0,"count":0,"param":null,"children":[{"selectedAspectCount":0,"count":0,"param":"1","suppressDistanceModel":false,"showCount":false,"display":"CHECK_BOX","itemLocationRedesignEnabled":true,"paramValue":"1","type":"BooleanAspectModel","eid":"e1-118","clear":null,"title":"Returns accepted","selected":false,"values":[],"excluded":[],"hidden":false,"hideInChooseMore":false,"name":"LH_RPA","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;LH_RPA=1","closed":false,"included":[],"paramName":"LH_RPA","countString":"0","disabled":false},{"selectedAspectCount":0,"count":0,"param":"1","suppressDistanceModel":false,"showCount":false,"display":"CHECK_BOX","itemLocationRedesignEnabled":true,"paramValue":"1","type":"BooleanAspectModel","eid":"e1-120","clear":null,"title":"Completed listings","selected":false,"values":[],"excluded":[],"hidden":false,"hideInChooseMore":false,"name":"LH_Complete","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;LH_Complete=1&amp;amp;rt=nc","closed":false,"included":[],"paramName":"LH_Complete","countString":"0","disabled":false},{"selectedAspectCount":0,"count":0,"param":"1","suppressDistanceModel":false,"showCount":false,"display":"CHECK_BOX","itemLocationRedesignEnabled":true,"paramValue":"1","type":"BooleanAspectModel","eid":"e1-122","clear":null,"title":"Sold listings","selected":false,"values":[],"excluded":[],"hidden":false,"hideInChooseMore":false,"name":"LH_Sold","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;LH_Complete=1&amp;amp;LH_Sold=1&amp;amp;rt=nc","closed":false,"included":[],"paramName":"LH_Sold","countString":"0","disabled":false}],"suppressDistanceModel":false,"showCount":false,"display":"TEXT","itemLocationRedesignEnabled":true,"paramValue":null,"type":"GroupAspectModel","eid":"e1-117","clear":null,"title":"Show only","selected":false,"hidden":false,"hideInChooseMore":false,"name":"LH_ShowOnly","action":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;rt=nc&amp;amp;_pppn=r1&amp;amp;_ssan=LH_ShowOnly","closed":false,"paramName":null,"countString":"0","disabled":false}],"eid":"e1-53","decimal":".","href":"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_dcat=177&amp;amp;rt=nc&amp;amp;_pppn=r1"};

        // Add content to config
        c.content = {};
        c.content.options = 'options';


        var A = raptor.require('panels.left.aspects.AspectPanel'); c.cancelTxt = 'Cancel&amp;lt;span class="hdnAcc"&amp;gt;and close dialog&amp;lt;/span&amp;gt;'; c.goTxt = "Go"; c.ApplyTxt = "Apply"; c.FiltersAppliedTxt="Filters selected"; c.FromTxt="From"; c.NoFiltersTxt="No Filters Available"; 
        window.setTimeout(function(){new A(c);},0);

        raptor.require("search.common.BrowseRelated").init({
        "id": "BrowseRelated"
        });

        try{
            $.CollectionsWidget({'oId':'1', 'pId':'#coll_pid_1','url':'http://svcs.ebay.com/contentsv/collection/component/cb?&amp;amp;pid=1&amp;amp;keyword=laptop&amp;amp;catids=177&amp;amp;others=locale=en-US&amp;amp;globalsiteid=US=1&amp;amp;pageid=2045573&amp;amp;mrc=0&amp;amp;showfollowercount=false&amp;amp;pageid=2045573&amp;amp;rlogid=t6pwehq%60%3C%3D%60mb6a54d.ce74-149caa54f39-0xc2&amp;amp;siteid=0&amp;amp;clientsideonly=true','dataType':'jsonp', 'load':4,'samplingOn':true });
        }catch(e){
            if(console) console.log(e);
        }

        var FA = raptor.require('dash.aspects.FormatAspect');
        new FA({'content':{'more':'more', 'less': 'less'}, 'classifiedClicked':false });

        raptor.require('search.layers.CustomizationLink').bind({"linkId":'custLink',"ajaxURL":"http://www.ebay.com/sch/FindingCustomization/?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_pppn=r1&amp;amp;pid=2045573","title":"Customize your search"});
        raptor.require('search.resultSet.ControlBar').init({'zip_error':"Please enter a valid ZIP code", 'viewType':"LIST", "custURL":"http://www.ebay.com/sch/FindingCustomization/?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop&amp;amp;_pppn=r1&amp;amp;pid=2045573", 'stickyIPP':true, 'showBack2Top':false});

        raptor.require("search.layers.FollowSearchLink").bindToLink({config:'{}', emailDefault:true, linkSelector:"e1-124", trksid: "p2045573.m2651", srchName: "laptop", saveUrl:"http://www.ebay.com/sch/i.html?_from=R40%7CR40&amp;amp;_sacat=0&amp;amp;_nkw=laptop", searchId:"", csrf:"7c7e2b0efb7cf31a0c1ca07f8e5d7d3eddc6479ea8591ed34567c2eb7ef279db", txt : {follow:"Follow this search", following:"Following this search", unfollow:"Unfollow this search", afterEmailClick:"No new email will be sent for this search.", errMaxTxt:"You have reached the maximum number of saved searches.", errGenTxt:"Sorry, we encountered an internal error. Please try again later."}, url:"http://www.ebay.com/sch/favsearch/?_pppn=r1&amp;amp;rt=nc&amp;amp;mode=1&amp;amp;returnURL=http%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_from%3DR40%257CR40%26_sacat%3D0%26_nkw%3Dlaptop&amp;amp;saveon=2",saveOn:"",redirectURL:'https://signin.ebay.com/ws/eBayISAPI.dll?SignIn', following: false, editing:false});

         var DP = raptor.require('search.date.DateReplacement');
         new DP().getDealTimer();

        raptor.require("search.watch").init({watchBaseUrl:'http://cgi1.ebay.com/ws/eBayISAPI.dll?SearchMakeTrack', signInUrl:'https://signin.ebay.com/ws/eBayISAPI.dll?SignIn', watchListSimpleHTML:"This item is on your \u003Ca href=\"http:\u002F\u002Fmy.ebay.com\u002Fws\u002FeBayISAPI.dll?MyEbay&amp;amp;amp;CurrentPage=MyeBayWatching&amp;amp;amp;ssPageName=STRK:ME:LNLK\"&amp;gt;Watch list\u003C\u002Fa&amp;gt;.",
            userSignedIn: false, isHotnesEnabled: true, watchingItem: "&amp;lt;img src='http://ir.ebaystatic.com/pictures/aw/pics/s.gif' class='hot wtc'&amp;gt;Watching"});
        raptor.require("search.resultSet.ResultSet").init({elem:'e1-125',galleryPlusBaseUrl:'http://galleryplus.ebayimg.com/ws/web', img1: 'http://ir.ebaystatic.com/pictures/aw/pics/globalAssets/imgLoading_30x30.gif',
            img2: 'http://ir.ebaystatic.com/pictures/aw/pics/cmp/icn/iconImgNA_96x96.gif', img3: 'http://ir.ebaystatic.com/pictures/aw/pics/cmp/icn/iconImgNA_32x32.gif', stockPhoto: 'http://ir.ebaystatic.com/pictures/aw/pics/stockimage1.jpg',
            trackingId:'p2045573.m1686',useHistoryBackFromVI:false, isLazyLoadOnLoad:false, isHideTopAd:false, isTrackTopAd:false});
            
         
        var DP = raptor.require('search.date.DateReplacement');
        var o = new DP({dateAttr:"timeMs", dateElemSelector:"span.timeMs", secondsTerm:["##1##s left","##1##s left"], minutesTerm:["##1##m left","##1##m left"], hoursTerm:["##1##h left","##1##h left"], daysTerm:["##1##d left","##1##d left"], daysHoursTerm:["##1##d ##2##h left","##1##d ##2##h left"], endedTerm:"Ended", endsTomorrowTerm:"Tomorrow", todayTerm:"Today", days:["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"], AM:"AM", PM:"PM", serverTime:"1416444071767", endingTime:"Ending time", is24HR:false, islt60minInRedEnabled:true,isShowRelativeTime:true});
        o.startLoop(1000);

        raptor.require("search.layers.TopRatedPlus").init();

        $("#e1-126, #e1-127").click(function(e){
        e.preventDefault();
        raptor.require('search.utils.Popup').open($(this).attr('href'),800,800,$(this).attr('title'),'');
        $(this).blur(); 
        return false;
        });

        raptor.require("sitespeed.SrpProfiler").init({saasTime:'1873'});
        $rwidgets(['raptor.merch.MerchManager','w1-1',{"enableOnScroll":false,"pids":["100033","100034","100199","100281"],"customCallbackHandler":false,"loadJsAsync":true,"merchRaptorEnabled":true,"url":"http:\u002F\u002Fwww.ebay.com\u002Frec\u002Fplmt\u002F100033-100034-100199-100281?guid=f0d577491470a5f165b6d0f6fec35f14&amp;amp;itm=291247122341&amp;amp;fmt=html&amp;amp;locale=en-US&amp;amp;srchCtxt=%28qry%3Dlaptop%7CdmLCat%3D0%7CsrCnt%3D50%7CsrtType%3DBEST_MATCH%7CvType%3DLIST_VIEW%7CmCCatId%3D0%7CminPrice%3D0.0%7CmaxPrice%3D0.0%7CcrncyId%3D0%7CfShip%3D0%7Cetrs%3D0%29&amp;amp;usrSi=US&amp;amp;si=0&amp;amp;_qi=t6pwehq%60%3C%3D%60mb6a54d.ce74","th":1000}]);})();
        </script> 
        <!-- RcmdId SearchResultPageRaptor,RlogId t6pwehq%60%3C%3D%60mb6a54d.ce74-149caa5479a-0xc2 -->
    </div><iframe src="about:blank" style=
    "width: 0px; height: 0px; border: 0px none;"></iframe><iframe src=
    "javascript:false" style=
    "width: 0px; height: 0px; border: 0px none;"></iframe><script type=
    "text/javascript">
$df={set:function(a,b){a=document.getElementById(a);b=document.getElementById(b);if(a&amp;amp;&amp;amp;b){a.parentNode.replaceChild(b,a)}}}
    </script>

    <div id="t_TopPanelDF" style="display:none"></div>

    <div id="t_RelatedSearchesDF" style="display:none"></div>

    <div id="t_TopPanelDFItemCount" style="display:none"></div>
    <link href="http://ir.ebaystatic.com/rs/v/r2lwav4oga103bknd12qogfrkua.css"
    rel="stylesheet" slotid="page-css" type="text/css">

    <div id="t_LeftCenterBottomPanelDF" style="display:none"></div>

    <div id="t_VRFooterDF" style="display:none"></div>

    <div id="t_JSDF" style="display:none"></div><iframe src="about:blank"
    style="width: 0px; height: 0px; border: 0px none;"></iframe> <img alt=""
    border="0" height="1" src=
    "http://rover.ebay.com/roverimp/0/0/9?imp=2046301&amp;trknvp=cp%3D2045573%26ghi%3D1%26gh1g%3dT0.N0&amp;1416444065500"
    width="1"><img alt="" border="0" height="1" src=
    "http://rover.ebay.com/roverimp/0/0/9?imp=2046301&amp;trknvp=cp%3D2045573%26ghi%3D10&amp;1416444276552"
    width="1"><img alt="" border="0" height="1" src=
    "http://rover.ebay.com/roverimp/0/0/9?imp=2046301&amp;trknvp=cp%3D2045573%26ghi%3D4&amp;1416444283201"
    width="1"><img alt="" border="0" height="1" src=
    "http://rover.ebay.com/roverimp/0/0/9?imp=2046301&amp;trknvp=cp%3D2045573%26ghi%3D10&amp;1416444283708"
    width="1">
</body>
</html>
